<div class="container clearfix">
<div class="grid4 first">
	<%= image_tag("sergeant.jpg", :width => '152')%>
	</div>
	<div class="grid8" id="left_side"><p class="sergeant_talk">
	I am Sergent Shame <br/>
Losers don’t deserve glory!<br/><br/>
Will you be able to reach your goal?</p>
	</div>



<fb:login-button perms="publish_stream,offline_access" onlogin="facebook_onlogin()" size="xlarge" background="white">
Start your Training now!</fb:login-button>

</div>

Your access token is: <%= @access_token %>