<!-- <%= link_to 'Back', tasks_path %> -->

<div class="container clearfix">
<div class="grid4 first">
	<img src="../../images/sergeant.jpg" width="152px">
	</div>
	<div class="grid8" id="left_side">
	<p class="sergeant_talk">
	Well, <br/>
	pledge your goal <br/>
	if you fail your will be publicly shamed <br/>
	Go !
	</p>
	<br/>
	<br/>
	<%= render 'form' %>
	</div>
</div>
